
section.card {
    /* background-color: #eaf0ff; */
    background-color: #f2f4f7;
    /* background-color: #ebedef; */
}

#resultados-tabela:empty {
    /* Remove a ocupação de espaço quando a section não tem conteúdo */
    display: none; 
}

.acoes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;    /* controla o espaço entre ícones */
}
.icon {
  width: 18px;
  height: 18px;
  color: #6c757d; /* cor padrão Bootstrap para ícones */
}
.icon:hover {
  color: #dc3545; /* vermelho no hover, opcional */
}

.btn-deletar,
.btn-editar {
  border: none;
  background: transparent;
}

.caption-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove a borda inferior do cabeçalho */
.modal-header {
    border-bottom: none;
}
/* Remove a borda superior do rodapé */
.modal-footer {
    border-top: none;
}

/* Esconde o SELECT original que será substituído pelo Tom Select */
/* Esconde o SELECT original que ainda NÃO foi transformado pelo Tom Select */
/* O seletor ':not([class*="ts-"])' garante que ele só afria o SELECT original */
/* Oculta APENAS o elemento turnos-multi antes que o Tom Select o inicialize (FOUC) */
 #turnos-multi:not([class*="ts-"]) {
    /*display: none !important;*/
    /* Corrige a altura excessiva no estado "Carregando..." */
    height: 38px !important; 
    min-height: 38px !important;
    
    /* Corrige o problema de largura no estado inicial, garantindo que ele caiba */
    max-width: 90% !important;
    border: none !important; 
    box-shadow: none !important;
}

/* Este CSS irá estilizar o componente TOM SELECT DEPOIS que ele for criado pelo JS */
.ts-wrapper, 
.tom-select {
    max-width: 100% !important; /*Essencial para a correção no mobile */
} 
/* Opcional: Garanta que o menu de opções (dropdown) não seja afetado */
 .ts-dropdown {
    max-width: none !important; 
    overflow: visible !important;
}
/* Seletor para o item selecionado dentro da caixa de seleção */
[tomselect-multi] + .ts-wrapper .ts-control .item {
  /* Altere o valor de font-size conforme sua necessidade */
  font-size: 1.3em; /* Exemplo: 10% maior que o tamanho base */
  /* ou use pixels */
  /* font-size: 16px; */ 
}